body{
    background-color: black;
}
li{
    font-size: 22px;
}
#grid{
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
}
.sgbutton{
    color: greenyellow;
    text-decoration: none;
}
#h{
    display: grid;
    grid-template-columns: 100px 100px;
}